* {
    box-sizing: border-box;
    font-family: 'Bungee', cursive;
}

body {
    background: linear-gradient(#43C6D1, #FFFDD0);
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#screen {
    background-color: black;
    margin: auto;
    border: 3px solid black;
}

#record-container {
    padding: 10px;
    margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 10px;
  text-align: center;
  font-size: 25x;
}

.column {
  float: left;
  height: 440px;
  padding: 20px;
  padding-top: 10px;
}

.column.side {
  width: 413px;
  text-align: center;
}

.column.middle {
  width: 420px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
    border: 5px dotted #87CEFA;
    margin-top: 10px;
    padding: 10px;
}

.footer li {
  margin-left: 20px;
}

.scoreboard {
  text-align: left;
  margin: 0px;
}

.music-name {
  font-size: 13px;
  margin-top: 250px;
  margin-bottom: 5px;
}

#controller {
  background: #EBF4FA;
  border: 3px solid #25383C;
  transition: 0.1s;
}

#controller:hover {
  background: #25383C;
  border-color: #EBF4FA;
}

#play {
  background: #00FFFF;
  border: 3px dashed #7FFFD4;
  font-size: 15px;
  width: 200px;
  height: 50px;
  transition: 0.2s;
}

#play:hover {
  background: #FFFACD;
  font-size: 18px;
  width: 250px;
  height: 60px;
}

#play:active {
  background: #FFDF00;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(0,0,0,0);
}